name: Windows
on:
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: windows-latest
    strategy:
      matrix:
        qt-ver: [5.15.2]
        qt-arch: [win64_msvc2019_64]
        include:
          - qt-arch: win64_msvc2019_64
            msvc-arch: x64
            qt-arch-install: msvc2019_64
    env:
      target-name: Zentroid
      plantform-des: win
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Qt
        uses: jurplel/install-qt-action@v4.1.1
        with:
          version: ${{ matrix.qt-ver }}
          target: desktop
          arch: ${{ matrix.qt-arch }}
          cache: true

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.msvc-arch }}

      - name: Generate Version
        shell: bash
        run: python ci/generate-version.py

      - name: CMake Configure
        shell: cmd
        run: |
          if exist build rmdir /s /q build
          mkdir build
          cd build
          cmake -DCMAKE_PREFIX_PATH="%QT_ROOT_DIR%/lib/cmake/Qt5" -DCMAKE_BUILD_TYPE=RelWithDebInfo -G "Visual Studio 17 2022" -A x64 ..

      - name: CMake Build
        shell: cmd
        run: |
          cd build
          cmake --build . --config RelWithDebInfo -j8

      - name: Get the version
        shell: bash
        id: get-version
        run: echo "version=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Package
        shell: cmd
        run: |
          set publish_dir=publish\${{ env.target-name }}-${{ env.plantform-des }}-${{ matrix.msvc-arch }}
          if exist %publish_dir% rmdir /s /q %publish_dir%
          mkdir %publish_dir%
          xcopy output\x64\RelWithDebInfo\* %publish_dir%\ /E /Y
          %QT_ROOT_DIR%\bin\windeployqt.exe %publish_dir%\Zentroid.exe

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.target-name }}-${{ env.plantform-des }}-${{ matrix.msvc-arch }}
          path: publish/${{ env.target-name }}-${{ env.plantform-des }}-${{ matrix.msvc-arch }}/

      - name: Create Zip and Upload Release
        if: startsWith(github.ref, 'refs/tags/')
        shell: pwsh
        run: |
          $name = "${{ env.target-name }}-${{ env.plantform-des }}-${{ matrix.msvc-arch }}-${{ steps.get-version.outputs.version }}"
          Compress-Archive -Path "publish\${{ env.target-name }}-${{ env.plantform-des }}-${{ matrix.msvc-arch }}" -DestinationPath "publish\${name}.zip"

      - name: Upload Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: publish/${{ env.target-name }}-${{ env.plantform-des }}-${{ matrix.msvc-arch }}-${{ steps.get-version.outputs.version }}.zip
          asset_name: ${{ env.target-name }}-${{ env.plantform-des }}-${{ matrix.msvc-arch }}-${{ steps.get-version.outputs.version }}.zip
          tag: ${{ github.ref }}
          overwrite: true
